@import "../../styles/styles";

.movieCard {
    &.card {
        border-color: $borderColorCard;
    }    
    .openBtn {
        color: $buttonColor;
        background-color: $hoverLinkColor;
        border: #ffffff;
    outline: "none";
    &:active,
    &:focus {
      color: $linkColor;
    }
    &:hover {
      color: #ffffff;
    }
    }
}